/* 
------------- 01 TYPOGRAPHY SYSTEM

  - Font Sizes(px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

  - Font Weights:
  Extra-Light: 200
  Light: 300
  Regular: 400
  Bold: 600

  ------------- 05 WHITESPACE
- Spacing System(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

h1 span {
  color: #358bed;
  text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif !important;
}

.header-primary {
  font-size: 6.2rem;
  font-weight: 600;
  color: #fff;
}

.margin-bottom-md {
  margin-bottom: 3.2rem;
}

.center-text {
  text-align: center;
}

/* ////////////////////////////////////////////// */
/* /////////// Header ///////////*/
/* ////////////////////////////////////////////// */

.link {
  color: #fff !important;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.6rem;
  text-decoration: none !important;
  text-transform: capitalize;
}

.link:before {
  content: "";
}

.link:hover {
  text-decoration: none;
  transition: all 0.2s;
  background-color: rgb(221, 140, 140);
}

/* ////////////////////////////////////////////// */
/* /////////// FOOTER ///////////*/
/* ////////////////////////////////////////////// */

.footer {
  background-color: #1976d2;
  margin-top: 3.2rem;
}

.footer p {
  font-weight: 200;
  font-size: 1.4rem;
  text-shadow: none;
  margin-bottom: 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: #000032;
}

/* ////////////////////////////////////////////// */
/* /////////// HERO ///////////*/
/* ////////////////////////////////////////////// */

.hero-container {
  margin-top: -6.2rem;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(./assets/img/header-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-flex {
  margin-left: 4.2rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-text {
  margin-top: 18rem;
}
p {
  font-size: 1.8rem;
  color: #fff;
  text-shadow: 1px 1px #000;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

/* ////////////////////////////////////////////// */
/* /////////// CARDS ///////////*/
/* ////////////////////////////////////////////// */

.card-text {
  font-size: 1.4rem !important;
  text-shadow: none;
  color: #000032;
}

.card-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-text-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pet-desc-text {
  color: #01011f;
  text-shadow: none;
  font-weight: 200;
  font-size: 2.4rem;
}

.pet-enjoys-text {
  color: #01011f;
  text-shadow: none;
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 0.02em;
}

.show-card-wrapper {
  padding: 1.4rem;
  background-color: rgba(53, 139, 237, 0.781);
  border-radius: 5px;
}
